.bottom {
  width: 11.9375rem;
  height: 3.75rem;
  font-family: Inter;
  font-weight: 275;
  font-size: 1.5rem;
  line-height: 2.25rem;
  background-color: #00b43d;
  border: 3px solid rgba(255, 255, 255, 1);;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  margin: auto;
  
  
}

.bottom_2{
  
  font-family: Inter;
  width: 6rem;
  height: 1.875rem;
  font-weight: 500;
  background: rgba(78, 78, 78, 0.45);
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  text-decoration: none;
  margin-left: auto;
  

}
