.cabecera{
    font-family: Poppins;
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;;
    transition: .5s;
}

.cabecera.scrollMenu{
    background-color: hsla(0,0%,0%,.5);
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;;
}