.columnas {
    width: min(100%,20rem);
    background: rgba(88, 88, 88, 0.5);
    margin-right: 0.9375rem;
    padding: 1.25rem;
    margin-top: 6.25rem;
    margin-bottom: 10.3125rem;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }