@font-face {
  font-family: Poppins;
  src: url(../fonts/poppin/Poppins-Black.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/poppin/Poppins-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/poppin/Poppins-Medium.ttf);
  font-weight: 500;

}
@font-face {
  font-family: Poppins;
  src: url(../fonts/poppin/Poppins.ttf);
  font-weight: 300;
  
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/poppin/Poppins-Light.ttf);
  font-weight: 275;
  
}
@font-face {
  font-family: Inter;
  src: url(../fonts/inter/Inter-Light.ttf);
  font-weight: 500;

}
@font-face {
  font-family: Inter;
  src: url(../fonts/inter/Inter-Regular.ttf);
  font-weight: 275;
}
