.logo{
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    background-color: #272727;
    text-align: center;
  
}
.logo2{
    position: absolute;
    inset: 0;
    margin: auto;
    transform: translateY(-25%);
}

.logo3{
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    background-color: #272727;
    text-align: center;
    
}