.text {
  width: min(100%, 62.5rem);
  margin-left: auto;
  margin-right: auto;

  font-family: Inter;
  font-weight: 275;
  line-height: 2.25rem;
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 16.8125rem;
}
.text2 {
  width: min(100%, 209px);
  font-family: Poppins;
  font-weight: 300;
  line-height: 1.5rem;
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.text3 {
  width: min(100%, 1205px);
  margin: auto;
  font-family: Poppins;
  font-weight: 275;
  line-height: 3rem;
  font-size: 2rem;
  color: #ffffff;

  padding-bottom: 9.375rem;
}
