h1{
    width: min(100%, 577px);
    font-family: Poppins;
    font-weight: 700;
    line-height: 9rem;
    font-size: 6rem;
    color: #FFFFFF;
    margin: auto;
    padding-top: 10.875rem;
} 
.title{
    width: min(100%, 507px);
    margin: auto;
    text-align: center;
    font-family: Poppins;
    height: 3.75rem;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3.75rem;
    color: #FFFFFF;

}
.title2{
    width: min(100%, 221px);
    font-family: Poppins;
    height:3rem ;
    font-weight: 500;
    font-size: 2rem;
    color: #FFFFFF;
   
    
}
.title3{
    width: min(100%, 221px);
    font-family: Poppins;
    height:4.4375rem ;
    font-weight: 500;
    font-size: 3rem;
    color: #FFFFFF;   
    
}