.Travel_Time {
  position: relative;
}
.Travel_Time .fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  
  
}
.Travel_Time .content{
    position: relative;
    background: rgba(0, 0, 0, 0.35);

}

