.Where_do_you_want_to_go{
    position: relative;
}
.Where_do_you_want_to_go .fondo{
    position: absolute;
    width: 100%;
    height: 100%;
}

.Where_do_you_want_to_go .content2{
    position: relative;
    background: rgba(0, 0, 0, 0.35);

}
